html, body {
    color: white;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    background-color: #1e1e1e;
    padding: 0;
    margin: 0;
    --primary-aqua: #4EEAFF;
    --primary-blue: #4987FF;
    --primary-purple: #A449FF;
}

h1 {
    font-size: 2em;
    font-weight: 900;
}

h3 {
    padding: 0;
    margin: 0;
}

h4 {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0.4em 2em;
    display: flex;
}

li {
    font-size: 1em;
    font-weight: 700;
    padding: 0 1em;
}

button {
    color: white;
    font-size: 1em;
    font-weight: 700;
    background-color: var(--primary-aqua);
    border: none;
    border-radius: 0.4em;
    padding: 0.4em 1em;
}

.rowcontainer {
    display: flex;
    align-items: center;
}

.imgcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    position: relative;
    display: flex;
}

/* HOME */

#home {
    width: 64%;
    display: block;
}

/* STREAM */

.stream-container {
    height: 540px;
    background-color: black;
    display: flex;
    justify-content: center;
}

.stream {
    width: 960px;
    height: 540px;
    background-color: wheat;
}

/* CC AREA */

.cc-container {
    display: flex;
}

.stream-info {
    width: 360px;
}

.streamer-profile {
    height: 120px;
    padding: 0 1em;
    display: flex;
    align-items: center;
}

.pfp {
    width: 100px;
    height: 100px;
    display: flex;
}

.pfp img {
    border-radius: 999px;
}

.pfinfo {
    padding: 0 1em;
}

.pfinfo p {
    color: gray;
    font-size: 0.8em;
}

.streamer-profile h4, .streamer-profile p {
    padding: 0;
    margin: 0;
}

.streamtitle {
    padding: 1em;
}

.stream-info h3 {
    padding: 0;
    margin: 0;
}

.tagrow {
    display: flex;
    padding: 0;
    margin-top: 12px;
}

.tagrow a {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 999px;
    padding: 2px 12px;
    margin-right: 8px;
}

.tagrow p {
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

/* SUBTITLE AREA */

.subtitle-container {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.streamer-speaking {
    width: 100%;
    display: flex;
    justify-content: start;
}

.other-speaking {
    width: 100%;
    display: flex;
    justify-content: end;
}

.subtitle {
    box-sizing: border-box;
    padding: 0 2em;
}

/* CHAT AREA */

.chatbox {
    width: 360px;
    height: 92vh;
    display: flex;
    flex-direction: column;
    position: right;
}

.chatbox-top {
    height: 6vh;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chatarea {
    width: 360px;
    height: 80vh;
    background-color: antiquewhite;
}

.chatbox-bottom {
    height: 6vh;
    background-color: gray;
}