nav {
    width: 100vw;
    height: 8vh;
    color: white;
    display: flex;
    background-color: var(--primary-aqua);
    justify-content: space-between;
    padding: 0;
    margin: 0;
    position: relative;
}

/*LEFT AREA*/

.nav-leftbox {
    width: 12vw;
    box-sizing: border-box;
    padding: 0 2em;
    display: flex;
    align-items: center;
    margin: 0 13vw 0 0;
}

#nav-logo {
    height: 2em;
}

/*CENTER AREA*/

.nav-centerbox {
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchcontainer {
    display: flex;
    align-items: center;
}

.search {
    border-radius: 0.8em;
    display: flex;
    align-items: center;
}

.search:focus-within {
    border: white solid 2px;
}

.search img {
    padding: 0.4em;
}

input {
    color: white;
    font-family: "Noto Sans";
    width: 300px;
    height: 1.6em;
    background: none;
    border: none;
    overflow: hidden;
    resize: none;
}

input:focus {
    outline: none;
}

/*RIGHT AREA*/

.nav-rightbox {
    display: flex;
    align-items: center;
    justify-content: end;
}

.navbutton {
    width: 1.2em;
    height: 1.2em;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4em;
    margin: 1em;
}

.navbutton:hover {
    background-color: gainsboro;
}

#nav-profilebutton {
    width: 2.4em;
    height: 2.4em;
    background-color: gray;
    border-radius: 999px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-profilebutton img {
    width: 2.4em;
    height: 2.4em;
    border-radius: 999px;
    display: flex;
}